In [1]:
import pandas as pd
import os

data_path = './data'

df_menu = pd.read_csv(os.path.join(data_path, 'Menu.csv'))

In [16]:
len(df_menu)

17545

In [7]:
locations = df_menu.location.unique()
pd.DataFrame(locations)

                                                      0
0                                         Hotel Eastman
1                                      Republican House
2                            Norddeutscher Lloyd Bremen
3                      Canadian Pacific Railway Company
4                                      Hotel Netherland
...                                                 ...
6278                                       The Richmond
6279                                  Pabst 14th Street
6280                                     Woolpack Hotel
6281           Hotel Schynige Platte und Hotel Bellevue
6282  Christmas Dinner, Troop F 19: Fort Huachuca, A...

[6283 rows x 1 columns]

In [5]:
aa = df_menu[['sponsor', 'location']]
# find not same pairs, case not sensitive
aa[~aa.sponsor.str.lower().eq(aa.location.str.lower())]

,sponsor,location
15,NaN,Occidental & Oriental
33,CUNARD LINE,Canadian Pacific Railway Company
45,RED STAR LINE - S.S.SOUTHWARK,Red Star Line S.S.Southwark
49,REVERE HOUSE,Parker House
57,HAMBURG-AMERIKA LINIE,Hamburg Amerika Linie
...,...,...
14036,[Restaurant Name And/Or Location Not Given],Advertising Club of New York
14037,[Restaurant Name And/Or Location Not Given],John Wanamaker
14120,[Restaurant Name And/Or Location Not Given],"Old Colony Club, Inc."
14248,The Berkley,The Berkeley
14250,The Berkley,The Berkeley

In [7]:
currencys = df_menu.currency.unique()
pd.DataFrame(currencys)

                             0
0                          NaN
1                      Dollars
2                        Cents
3                       Francs
4               Belgian Francs
5                    Shillings
6               Deutsche Marks
7                    UK Pounds
8                        Pence
9             Canadian Dollars
10     Austro-Hungarian Kronen
11                Swiss Francs
12                     Pesetas
13               Danish kroner
14     Swedish kronor (SEK/kr)
15                     Escudos
16                         Yen
17                Italian Lire
18               Mexican pesos
19                   Quetzales
20   Israeli lirot (1948-1980)
21           Monégasque francs
22                Qatari riyal
23              Dutch Guilders
24         Austrian Schillings
25                       Euros
26            Norwegian kroner
27             Moroccan Dirham
28           Bermudian dollars
29            Hungarian forint
30                    Drachmas
31           New Taiwan Dollar
32            Icelandic Krónur
33          Australian Dollars
34              Argentine peso
35                         Sol
36             Uruguayan pesos
37         Brazilian Cruzeiros
38                       Złoty
39                 Cuban pesos
40              Finnish markka
41                        Lats
42  Straits dollar (1904-1939)

In [8]:
# Frequency of currency
df_menu.currency.value_counts()

currency
Dollars                       5549
Deutsche Marks                 293
Francs                         162
Canadian Dollars                98
Swiss Francs                    47
Shillings                       40
Swedish kronor (SEK/kr)         39
Italian Lire                    28
Cents                           24
UK Pounds                       22
Belgian Francs                  20
Mexican pesos                   19
Dutch Guilders                  17
Austrian Schillings             15
Danish kroner                   14
Yen                              9
Euros                            7
Pesetas                          7
Escudos                          5
Austro-Hungarian Kronen          5
Hungarian forint                 4
Drachmas                         4
Norwegian kroner                 3
Icelandic Krónur                 3
Israeli lirot (1948-1980)        3
Quetzales                        2
Argentine peso                   2
Pence                            1
Monégasque francs                1
Qatari riyal                     1
Moroccan Dirham                  1
Bermudian dollars                1
New Taiwan Dollar                1
Australian Dollars               1
Sol                              1
Uruguayan pesos                  1
Brazilian Cruzeiros              1
Złoty                            1
Cuban pesos                      1
Finnish markka                   1
Lats                             1
Straits dollar (1904-1939)       1
Name: count, dtype: int64

In [12]:
physical_descriptions = df_menu.physical_description.unique()
pd.DataFrame(physical_descriptions)

                                     0
0                      CARD; 4.75X7.5;
1           CARD; ILLUS; COL; 7.0X9.0;
2            CARD; ILLU; COL; 5.5X8.0;
3          FOLDER; ILLU; COL; 5.5X7.5;
4         CARD; ILLUS; COL; 4.75X7.25;
...                                ...
6264  15.5x13cm folded; 15.5x26cm open
6265  19.5x14cm folded; 19.5x42cm open
6266                      19.5x11.5cm
6267                        12.5x7.5cm
6268  23x16.5cm folded; 23x33cm open

[6269 rows x 1 columns]

In [15]:
# 筛选出 physical_descriptions 中包含数字的行
df_menu[df_menu.physical_description.str.contains(r'\d', na=False)][['physical_description']]

                   physical_description
0                       CARD; 4.75X7.5;
1            CARD; ILLUS; COL; 7.0X9.0;
2             CARD; ILLU; COL; 5.5X8.0;
3             CARD; ILLU; COL; 5.5X8.0;
4           FOLDER; ILLU; COL; 5.5X7.5;
...                                 ...
16808  19.5x14cm folded; 19.5x42cm open
16809                      19.5x11.5cm
16810                        12.5x7.5cm
16811  23x16.5cm folded; 23x33cm open
16812  19.5x13cm folded; 19.5x26cm open

[14683 rows x 1 columns]

In [9]:
df_dish = pd.read_csv(os.path.join(data_path, 'Dish.csv'))

In [11]:
df_dish.name

0                                Consomme printaniere royal
1                                             Chicken gumbo
2                                       Tomato aux croutons
3                                           Onion au gratin
4                                               St. Emilion
                                ...
422034    FILET OF BEEF, piquee, a la Bordelaise, Stuffe...
422035                                 ROAST SQUAB ON TOAST
422036                 BROILED POMPANO, a la Maitre d'Hotel
422037                            Potatoes A La Parisienne
422038    BEEF TOMATO ORIENTALE: Our version of a very p...
Name: name, Length: 422039, dtype: object

In [26]:
from lingua import Language, LanguageDetectorBuilder

# 定义可识别的语言列表
languages = [Language.ENGLISH, Language.FRENCH, Language.GERMAN, Language.SPANISH, Language.ITALIAN]

# 创建语言检测器
detector = LanguageDetectorBuilder.from_languages(*languages)\
.with_minimum_relative_distance(0.7)\
.build()

# # 要检测的混合语言文本
# sentence = (
#     "Parlez-vous français? "
#     "Ich spreche Französisch nur ein bisschen. "
#     "A little bit is better than nothing."
# )
# 
# # 检测文本中的多种语言
# for result in detector.detect_multiple_languages_in_parallel_of(sentence):
#     print(f"{result.language.name}: '{sentence[result.start_index:result.end_index]}'")

In [32]:
# 提取前50个菜名，检测其语言
for name in df_dish.name[:100]:
    # print(type(name))
    for result in detector.detect_multiple_languages_of(name.lower()):
        print(f"{result.language.name}: '{name.lower()}'")

FRENCH: 'consomme printaniere royal'
ENGLISH: 'radishes'
ENGLISH: 'clam broth (cup)'
ENGLISH: 'clear green turtle'
ENGLISH: 'fresh lobsters in every style'
ITALIAN: 'whitebait, sauce tartare'
ENGLISH: 'cerealine with milk'
ENGLISH: 'sliced tomatoes'
ENGLISH: 'smoked beef in cream'
ENGLISH: 'breakfast'
ENGLISH: 'strawberries'
ENGLISH: 'preserved figs'
FRENCH: 'consomme anglaise'
ENGLISH: 'cream of cauliflower'
ENGLISH: 'broiled shad, a la maitre d'hotel'
ENGLISH: 'sliced cucumbers'
ENGLISH: 'salted almonds'
ENGLISH: 'potatoes, julien'
ENGLISH: 'cracked wheat'
ENGLISH: 'malt breakfast food'
ENGLISH: 'boiled beef tongue, italian sauce'
ENGLISH: 'roast sirloin of beef, yorkshire pudding'
GERMAN: 'huhnerbruhe'
ENGLISH: 'rockaways'
GERMAN: 'hafergrutze'
ENGLISH: 'browned potatoes'
GERMAN: 'pampelmuse'
GERMAN: 'apfelsinen'
GERMAN: 'milchreis'
GERMAN: 'filet v. schildkrote m. truffeln'
GERMAN: 'kraftsuppe, konigliche art'
FRENCH: 'consomme in cup'
ENGLISH: 'broiled shad, maitre d'hotel'
ENGLISH: 'mashed potatoes'
ENGLISH: 'breaded veal cutlet with peas'
ENGLISH: 'hind-quarter of spring lamb with stuffed tomatoes'
FRENCH: 'doucette salad'
ENGLISH: 'salisbury steak au cresson'
ENGLISH: 'boiled rice'
ENGLISH: 'stewed oyster plant'
ENGLISH: 'boiled onions, cream sauce'
ENGLISH: 'old fashioned rice pudding'
ENGLISH: 'coffee'
ENGLISH: 'rolled oats'
ENGLISH: 'broiled mackerel'
ENGLISH: 'kippered herring'
ENGLISH: 'strawberries with cream'

In [33]:
import nltk
from nltk.tokenize import word_tokenize

nltk.download('punkt')  # Download tokenizer data (if you haven't already)
nltk.download('averaged_perceptron_tagger') # Download POS tagger data

# text = "The quick brown fox jumps over the lazy dog."
# tokens = word_tokenize(text)
# tagged_words = nltk.pos_tag(tokens)
# 
# adjectives = []
# for word, tag in tagged_words:
#     if tag.startswith('JJ'):  # NLTK tags for adjectives start with 'JJ' (JJ, JJR, JJS)
#         adjectives.append(word)
# 
# print("Adjectives:", adjectives)  # Output: Adjectives: ['quick', 'brown', 'lazy']

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\qingx\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\qingx\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.

LookupError:
**********************************************************************
  Resource punkt_tab not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('punkt_tab')

  For more information see: https://www.nltk.org/data.html

  Attempted to load tokenizers/punkt_tab/english/

  Searched in:
    - 'C:\\Users\\qingx/nltk_data'
    - 'D:\\Anaconda3\\envs\\story\\nltk_data'
    - 'D:\\Anaconda3\\envs\\story\\share\\nltk_data'
    - 'D:\\Anaconda3\\envs\\story\\lib\\nltk_data'
    - 'C:\\Users\\qingx\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
**********************************************************************